In [112]:
import sys
import pandas as pd 
import numpy as np
# path to where package is located (change accordingly)
pack_path = '/home/massimiliano/work_vivo/pioggia/disdrorain'

if pack_path not in sys.path:
    sys.path.append(pack_path)

import disdrorain as dr
import disdrorain_wspeed as drsp

In [113]:
# reload modules
%load_ext autoreload
%autoreload 2
%aimport disdrorain
%aimport disdrorain_wspeed

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
myrain = drsp.disdrorain_wspeed(datapath='/home/massimiliano/work_vivo/pioggia/thies_2012/moderate_rain_62_disdrocountextended')

In [111]:
myrain.speedvalues_effective

,C1_S1,C1_S2,C1_S3,C1_S4,C1_S5,C1_S6,C1_S7,C1_S8,C1_S9,C1_S10,...,C22_S11,C22_S12,C22_S13,C22_S14,C22_S15,C22_S16,C22_S17,C22_S18,C22_S19,C22_S20
0,0.1,0.3,0.5,0.7,0.9,1.2,1.6,2.0,2.4,2.8,...,3.2,3.8,4.6,5.4,6.2,7.0,7.8,8.6,9.5,10.5

In [115]:
myrain.data.head()

,C1_S1,C1_S2,C1_S3,C1_S4,C1_S5,C1_S6,C1_S7,C1_S8,C1_S9,C1_S10,...,C22_S11,C22_S12,C22_S13,C22_S14,C22_S15,C22_S16,C22_S17,C22_S18,C22_S19,C22_S20
record number,,,,,,,,,,,,,,,,,,,,,
0,0,0,2,3,5,10,7,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,9,20,23,31,23,14,6,6,...,0,0,0,0,0,0,0,0,0,0
2,0,1,7,21,17,39,13,10,2,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2,9,8,23,7,11,3,3,...,0,0,0,0,0,0,0,0,0,0
4,0,0,6,6,10,21,15,4,3,2,...,0,0,0,0,0,0,0,0,0,0