In [69]:
import sys
import pandas as pd 
import numpy as np
# path to where package is located (change accordingly)
pack_path = '/home/massimiliano/work_vivo/pioggia/disdrorain'

if pack_path not in sys.path:
    sys.path.append(pack_path)

import disdrorain_won as dr
import disdrorain_wspeed as drsp

In [70]:
# reload modules
%load_ext autoreload
%autoreload 2
%aimport disdrorain
%aimport disdrorain_wspeed

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [71]:
disdrodata_path='/home/massimiliano/work_vivo/pioggia/bulkvar_approx_analysis/disdrometer'
disdrocell_RD69='/home/massimiliano/work_vivo/pioggia/bulkvar_approx_analysis/disdrometer/celllimits_RD69_20cl_darwin_row_noheader'

In [72]:
_DRW_=dr.disdrorain(classpath=disdrocell_RD69,datapath=disdrodata_path+'/DRW')
(_DRW_noout,_DRW_summary) = _DRW_.outlier_deletion()

/home/massimiliano/work_vivo/virtualenv/standard/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [60]:
_DRW_noout.data.head(5)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20
record number,,,,,,,,,,,,,,,,,,,,
0,5,7,8,13,13,18,18,3,0,0,0,0,0,0,0,0,0,0,0,0
1,0,4,3,64,47,130,235,143,103,107,183,177,80,64,61,23,28,9,4,4
2,0,0,0,3,8,46,195,150,110,166,315,248,116,86,55,32,10,3,4,0
3,0,0,24,90,127,294,523,365,236,270,357,245,95,58,32,11,5,0,0,0
4,0,0,16,46,80,278,468,286,219,179,317,222,113,95,68,25,16,5,0,0

In [73]:
_DRW_noout.spectrum_flux

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20
record number,,,,,,,,,,,,,,,,,,,,
0,0.600240,0.840336,1.034260,1.296112,1.365546,1.224073,0.908861,0.179158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.027785,0.022442,0.369212,0.285666,0.511535,0.686578,0.494138,0.458273,0.438787,0.379800,0.331017,0.189093,0.153405,0.110733,0.049236,0.044954,0.013768,0.004785,0.005998
2,0.000000,0.000000,0.000000,0.016434,0.046172,0.171878,0.540989,0.492192,0.464741,0.646412,0.620792,0.440413,0.260361,0.195745,0.094807,0.065048,0.015246,0.004358,0.004544,0.000000
3,0.000000,0.000000,0.096536,0.279177,0.415054,0.622043,0.821609,0.678182,0.564599,0.595354,0.398395,0.246368,0.120740,0.074753,0.031235,0.012661,0.004316,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.072266,0.160226,0.293582,0.660475,0.825558,0.596702,0.588316,0.443203,0.397231,0.250674,0.161266,0.137487,0.074531,0.032313,0.015510,0.004618,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,0.397562,1.104338,1.593644,1.815981,0.985622,0.588044,0.334430,0.197772,0.141471,0.352058,0.204572,0.047571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6859,0.144534,0.549228,1.120692,1.848562,1.214083,1.408243,0.316113,0.345120,0.296247,0.085327,0.077731,0.015565,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6860,0.172221,0.258331,1.066444,2.610313,0.489753,0.682910,0.507053,1.070916,0.330934,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6861,0.579777,1.623377,4.370629,2.503852,0.608766,0.131372,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6862,0.000000,0.392465,4.085658,3.150804,1.259158,0.296428,0.110047,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [61]:
class_span = _DRW_noout.classlimits.loc['right', :] - _DRW_noout.classlimits.loc['left', :]

(20,)

In [25]:
df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])

In [68]:
import copy as cp

aa=cp.deepcopy(_DRW_noout.data)
aa['ndrops'] = aa.sum(axis=1)
aa = aa.div(aa['ndrops'].values, axis=0)
aa.drop(['ndrops'], axis=1, inplace=True)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C12,C13,C14,C15,C16,C17,C18,C19,C20,ndrops
record number,,,,,,,,,,,,,,,,,,,,,
0,0.058824,0.082353,0.094118,0.152941,0.152941,0.211765,0.211765,0.035294,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
1,0.000000,0.002723,0.002042,0.043567,0.031995,0.088496,0.159973,0.097345,0.070116,0.072839,...,0.120490,0.054459,0.043567,0.041525,0.015657,0.019061,0.006127,0.002723,0.002723,1.0
2,0.000000,0.000000,0.000000,0.001939,0.005171,0.029735,0.126050,0.096962,0.071105,0.107304,...,0.160310,0.074984,0.055591,0.035553,0.020685,0.006464,0.001939,0.002586,0.000000,1.0
3,0.000000,0.000000,0.008785,0.032943,0.046486,0.107613,0.191435,0.133602,0.086384,0.098829,...,0.089678,0.034773,0.021230,0.011713,0.004026,0.001830,0.000000,0.000000,0.000000,1.0
4,0.000000,0.000000,0.006576,0.018907,0.032881,0.114262,0.192355,0.117550,0.090012,0.073572,...,0.091245,0.046445,0.039046,0.027949,0.010275,0.006576,0.002055,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,0.038961,0.108225,0.145022,0.214286,0.110390,0.101732,0.077922,0.038961,0.021645,0.058442,...,0.017316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6859,0.014164,0.053824,0.101983,0.218130,0.135977,0.243626,0.073654,0.067989,0.045326,0.014164,...,0.005666,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6860,0.016878,0.025316,0.097046,0.308017,0.054852,0.118143,0.118143,0.210970,0.050633,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6861,0.056818,0.159091,0.397727,0.295455,0.068182,0.022727,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
6862,0.000000,0.038462,0.371795,0.371795,0.141026,0.051282,0.025641,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0

In [51]:
aa=aa/class_span
aa

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20
record number,,,,,,,,,,,,,,,,,,,,
0,0.600240,0.840336,1.034260,1.296112,1.365546,1.224073,0.908861,0.179158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.027785,0.022442,0.369212,0.285666,0.511535,0.686578,0.494138,0.458273,0.438787,0.379800,0.331017,0.189093,0.153405,0.110733,0.049236,0.044954,0.013768,0.004785,0.005998
2,0.000000,0.000000,0.000000,0.016434,0.046172,0.171878,0.540989,0.492192,0.464741,0.646412,0.620792,0.440413,0.260361,0.195745,0.094807,0.065048,0.015246,0.004358,0.004544,0.000000
3,0.000000,0.000000,0.096536,0.279177,0.415054,0.622043,0.821609,0.678182,0.564599,0.595354,0.398395,0.246368,0.120740,0.074753,0.031235,0.012661,0.004316,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.072266,0.160226,0.293582,0.660475,0.825558,0.596702,0.588316,0.443203,0.397231,0.250674,0.161266,0.137487,0.074531,0.032313,0.015510,0.004618,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.075698,0.231664,0.567954,0.868957,0.677970,0.539334,0.435600,0.392931,0.296811,0.181660,0.125808,0.079399,0.046815,0.013041,0.001912,0.000000,0.000000
6,0.000000,0.057621,0.157953,0.278426,0.389594,0.801177,0.762309,0.594128,0.442888,0.408204,0.370925,0.275007,0.196070,0.101223,0.047912,0.017757,0.007264,0.002307,0.000000,0.000000
7,0.000000,0.000000,0.131030,0.282935,0.369067,0.468677,0.535628,0.460000,0.363685,0.454920,0.479856,0.386537,0.281532,0.184733,0.072072,0.054994,0.016873,0.005359,0.000000,0.000000
8,0.000000,0.000000,0.120453,0.328694,0.406529,0.487382,0.524720,0.543567,0.473939,0.568886,0.673508,0.368308,0.143456,0.053440,0.031478,0.002651,0.000000,0.000000,0.000000,0.000000
9,0.033566,0.218179,0.578369,0.557538,0.440555,0.598950,0.712955,0.893334,0.580495,0.445862,0.345996,0.162666,0.057109,0.011583,0.008772,0.010344,0.000000,0.000000,0.000000,0.000000

In [459]:
_DRW_noout.cloud_phase_space_parameters(_speed_='plaw')

,Nv,mu,sigma,gamma,kappa,eta,omega
record number,,,,,,,
0,93,0.745402,0.257224,0.305584,2.269275,1.864496,7.374331
1,1000,1.528587,0.745899,1.278173,4.951443,15.433480,60.376447
2,942,1.776620,0.634783,0.891579,3.999814,10.343440,40.071651
3,1989,1.366481,0.544897,1.039382,4.177183,10.961000,39.364447
4,1706,1.449211,0.623341,1.251321,4.608209,12.937861,45.490200
...,...,...,...,...,...,...,...
6858,497,0.771837,0.394288,1.742163,5.689251,16.656567,53.875812
6859,365,0.806545,0.309011,1.501158,5.936496,19.226701,74.974500
6860,239,0.835804,0.310805,0.704871,2.279634,2.984065,7.304873
6861,115,0.564234,0.113584,0.355137,3.660560,4.826426,24.658744
6862,94,0.635412,0.122385,1.488388,6.493381,22.185205,91.269004

In [460]:
_DRW_noout.cloud_phase_space_parameters(_speed_='expo')

,Nv,mu,sigma,gamma,kappa,eta,omega
record number,,,,,,,
0,99,0.713543,0.258817,0.412416,2.322607,2.482101,8.063567
1,951,1.528354,0.772652,1.308221,4.995014,15.573335,60.105361
2,877,1.788159,0.652331,0.905330,4.017515,10.431960,40.065145
3,1877,1.355389,0.554493,1.067521,4.223659,11.205601,39.994316
4,1608,1.445711,0.638579,1.267532,4.612286,12.923298,44.967712
...,...,...,...,...,...,...,...
6858,537,0.734149,0.377551,1.908681,6.536998,20.660504,71.280385
6859,379,0.781110,0.302916,1.558210,6.291676,21.218210,85.409345
6860,247,0.807708,0.306501,0.810054,2.527277,3.710725,9.047345
6861,131,0.554001,0.114363,0.327812,3.554216,4.675232,23.646445
6862,101,0.628416,0.119160,1.497987,6.693050,23.542189,100.032900

In [7]:
_DRW_noout.bulk_variables().head(10)

,N,Nv,R,Z,W,r,z,w
record number,,,,,,,,
0,85,93,0.365944,56.982592,52.537441,0.004305,0.615321,0.567320
1,1469,1000,90.842790,192911.988351,6650.132762,0.061840,193.008236,6.653451
2,1547,942,97.501471,152556.094614,7519.181985,0.063026,161.974634,7.983403
3,2732,1989,89.255628,92056.603660,7830.632830,0.032670,46.282348,3.936926
4,2433,1706,106.439996,151175.188113,8593.396626,0.043748,88.593644,5.036014
5,2351,1607,107.473131,149276.993844,8662.830413,0.045714,92.878790,5.389934
6,1948,1426,73.525865,90304.604946,6146.434791,0.037744,63.333021,4.310658
7,1258,845,68.894211,101423.953023,5373.632095,0.054765,120.040151,6.359953
8,1186,830,43.418718,39935.108647,3801.913621,0.036609,48.129756,4.582063
9,608,493,13.511530,10492.417041,1289.201165,0.022223,21.270212,2.613467

In [8]:
_DRW_noout.bulk_variables(_speed_='expo').head(10)

,N,Nv,R,Z,W,r,z,w
record number,,,,,,,,
0,85,99,0.365944,53.418649,50.947332,0.004305,0.538763,0.513839
1,1469,951,90.842790,208432.304011,6571.817887,0.061840,219.180812,6.910716
2,1547,877,97.501471,156070.298005,7239.537711,0.063026,177.891638,8.251751
3,2732,1877,89.255628,89666.977388,7362.176574,0.032670,47.769407,3.922144
4,2433,1608,106.439996,152456.141038,8234.780208,0.043748,94.796261,5.120334
5,2351,1506,107.473131,149535.149261,8289.668477,0.045714,99.320207,5.505940
6,1948,1358,73.525865,89444.660529,5839.260753,0.037744,65.846008,4.298658
7,1258,803,68.894211,101967.650632,5165.535202,0.054765,126.994577,6.433363
8,1186,784,43.418718,38030.296143,3549.992144,0.036609,48.523521,4.529497
9,608,482,13.511530,10024.316555,1201.423703,0.022223,20.809966,2.494094

In [463]:
ola = list([2,3])

i=0
for item in ola: 
    ola2[i]=ola[i]-0.67
    i=i+1

In [212]:
ola = list([2,3])
b=list()

In [213]:
i=0
for item in ola: 
    b.append(f"M{item}")
    i=i+1

In [214]:
b

['M2', 'M3']

In [95]:
b

['M2', 'M3']